<div class="oj-panel ofm-panel ofm-dashboard-toolbar"
    style="position: relative;border: 1px solid #e0e1e1!important;background-color:#0D4C69 ;">
    <div class="ofm-container oj-web-applayout-max-width oj-web-applayout-content">
        <div class="oj-flex oj-sm-align-items-center">
            <div class="oj-sm-12 oj-md-3 oj-flex-item" style="margin-left: 42%;">
                <h2 class="overflowText">
                    <span style="color: white;" class="ofm-toolbar-title overflowText">NEWS APPLICATION</span>
            </div>
            <div class="oj-sm-4 oj-md-4 oj-flex-item">
            </div>
        </div>
    </div>
</div>

<div class="ofm-main-content ofm-dashboard-summaryPanel" style="margin-top: 0px;margin-left: 26%;">
    <div class="oj-flex oj-sm-margin-1x-top">

        <div class="oj-flex oj-flex-item oj-sm-12 oj-md-8">
            <div class="oj-flex-item oj-panel ofm-panel">
                <div class="ofm-panel-body oj-sm-padding-3x oj-md-padding-4x">
                    <!-- <p class="oj-text-tertiary-color">News Heading</p> -->
                    <div class="demo-content oj-flex-item">
                        <div>
                            <strong style="    font-size: 30px;">
                                <oj-bind-text value="[[heading]]">
                                </oj-bind-text>
                            </strong>
                        </div>
                    </div>
                    <!-- <p class="oj-text-tertiary-color">News Content</p> -->
                    <div class="ofm-separator oj-sm-margin-3x-vertical"></div>
                    <div class="demo-content oj-flex-item">
                        <div>
                            <strong style="    font-weight: 400;
                            letter-spacing: 1px;
                            font-style: italic;
                            font-size: 16px;
                            text-align: center;">
                                <oj-bind-text value="[[content]]">
                                </oj-bind-text>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- </div> -->
</div>